:root {
    --v-gris: #f3f4f6;
    --v-gris-p: #8c8d8f;
    --v-gris-b: #5a5a5b;
    --v-color-buttons: #5eb4fb30;
    --v-color-border: #46aafc71;
    --v-border: #a5b4fcbf;
    --v-bk: #a5b4fc30;
    --v-p: #8ea0fb30;
    --v-font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  }
  
/* HTML*/
body {
    background: url("../img/fondo.png"); 
    background-size:100% 700px; 
    background-repeat: no-repeat; /* Establecer el fondo para que no se repita la visualización */
    font-family: var(--v-font-family);
}

/*ID*/

#error{
    color: red;
    text-align: center;
}
#login-box {
    border: 1px solid;
    border-color: var(--v-border);
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    background: var(--v-gris-p);
    padding: 20px 50px;
    border-radius: 1rem;
    color: white;
}

#login-box h1 {
    color: white;
    
}

#login-box .form .item input {
    width: 200px; /* Establecer el ancho apropiado */
    border: 0; /* Primero cancele el borde, para que pueda modificar el ancho del borde inferior debajo */
    border-bottom: 5px solid white; /* Modificar el límite inferior para mostrar el efecto de línea horizontal */
    font-size: 18px; /* Aumentar el tamaño de fuente de forma adecuada */
    background: #ffffff00; /* Establecer el cuadro de entrada en transparente */
    color: white; /*El color del texto anterior se establece en blanco, pero el color del marcador de posición debe establecerse por separado */
    padding: 5px 10px; /* Para que el contenido del marcador de posición no se muestre en la cuadrícula superior, aumente el borde interno */
    
}

#login-box .form .item i {
    color: white;
    font-size: 18px;
}

#login-box button {
    border: 0; /* Cancelar borde del botón */
    width: 150px; /* Establecer la longitud y el ancho apropiados del botón */
    height: 30px;
    margin-top: 18px; /* Establezca el ancho apropiado del marco exterior superior y aumente la distancia desde el cuadro de contraseña superior */
    font-size: 18px; /* Modificar el tamaño del texto del botón */
    color: white; /* Modificar el color del texto en el botón */
    border-radius: 25px; /* Establecer los bordes izquierdo y derecho del botón en arcos */
    background-image: linear-gradient(to right, #00e431 0%, #3ca364 100%); /* Agrega un color degradado al botón */
}

#login-box button:hover {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    background-image: linear-gradient(to right, #32ca53 0%, #32ca53  100%); /* Agrega un color degradado al botón */
}

#back{

    position: relative;
    font-size: 20px;
    color: black;
    font-weight: 600;
    border-radius: 0.375rem;
    text-align: center;
    right:auto;
    background-color:rgb(245, 73, 73);
  }
  
 #back:hover{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    background-color: rgb(250, 198, 198);
  }

  ::placeholder{
      color: white;
  }
/*CLASES*/
a{
    text-decoration: none;
}

    
